<%- include('layouts/header')%>

<div class="container" style="margin-top: 10%;">
    <div class="card-header" style="background-color: rgba(35, 88, 35, 0.37);">
        <h3> Edit Animals (<%= card.name %>) </h3>
    </div>
<form action="/update/<%= card._id %> " method="post" enctype="multipart/form-data">
    <div class="mb-3">
    <label style="font-weight: bold;" for="inputanimal" class="col-sm-4 col-form-label">Animals Name</label>
    <input value= "<%= card.name %>"type="text" name="name">
    
</div>
<div class="mb-3">
    <label style="font-weight: bold;" for="inputanimal" class="col-sm-4 col-form-label">Age</label>
    <input value= "<%= card.age%>" type="number" name="age">
</div>
    <div class="mb-3">
    <label  style="font-weight: bold;" for="formFile" class="form-label">Upload Image</label>
    <input type="file" name="image">
    <img src="/<%= card.image %>" width="100"/>
    <input type="hidden"  name="old_image" value="<% card.image %> ">
</div>
    <input class="btn btn-success btn-lg" value ="update user" type="submit">

</form>
</div>

